.a {
    background-color: black;
    width: 200px;
    height: 200px;
}
.b {
    background-color: #4b4b8f;
    width: 200px;
    height: 200px;
}
.c {
    background-color: #b30ce5;
    width: 200px;
    height: 200px;
}
.d {
    background-color: #be1d1d;
    width: 200px;
    height: 200px;
}